<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>blocks</key>
            <dict>
                <key>Monday</key>
                    <array>
                        <dict>
                            <key>blockLetter</key>
                                <string>A</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>B</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>HR</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalHR</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>C</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>D</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>lunchBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>E</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>F</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>J</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalJBlock</string>
                        </dict>
                    </array>
                <key>Tuesday</key>
                    <array>
                        <dict>
                            <key>blockLetter</key>
                                <string>G</string>
                            <key>blockNum</key>
                                <integer>1</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>F</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>HR</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>longHR</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>C</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>E</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>lunchBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>D</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                    </array>
                <key>Wednesday</key>
                    <array>
                        <dict>
                            <key>blockLetter</key>
                                <string>A</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>longBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>B</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>G</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>F</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>lunchBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>D</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>E</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>J</string>
                            <key>blockNum</key>
                                <integer>2</integer>
                            <key>type</key>
                                <string>shortJBlock</string>
                        </dict>
                    </array>
                <key>Thursday</key>
                    <array>
                        <dict>
                            <key>blockLetter</key>
                                <string>A</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>B</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>HR</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalHR</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>F</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>G</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>lunchBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>E</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>C</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>J</string>
                            <key>blockNum</key>
                                <integer>3</integer>
                            <key>type</key>
                                <string>normalJBlock</string>
                        </dict>
                    </array>
                <key>Friday</key>
                    <array>
                        <dict>
                            <key>blockLetter</key>
                                <string>A</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>B</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>longBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>HR</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>normalHR</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>G</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>C</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>lunchBlock</string>
                        </dict>
                        <dict>
                            <key>blockLetter</key>
                                <string>D</string>
                            <key>blockNum</key>
                                <integer>4</integer>
                            <key>type</key>
                                <string>normalBlock</string>
                        </dict>
                    </array>
            </dict>
        <key>times</key>
            <dict>
                <key>normalBlock</key>
                    <integer>55</integer>
                <key>longBlock</key>
                    <integer>75</integer>
                <key>lunchBlock</key>
                    <integer>105</integer>
                <key>normalHR</key>
                    <integer>5</integer>
                <key>longHR</key>
                    <integer>25</integer>
                <key>shortJBlock</key>
                    <integer>30</integer>
                <key>normalJBlock</key>
                    <integer>40</integer>
                <key>passing</key>
                    <integer>5</integer>
                <key>startHour</key>
                    <integer>7</integer>
                <key>startMinute</key>
                    <integer>40</integer>
            </dict>
    </dict>
</plist>